@import '../../styles/color.scss';

.about {
    &__layout {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container {
        border-radius: 20px;
        height: 95vh;
        width: 95%;
        border: 1px solid $greyBorder;
        margin: 20px;
        background: rgba($color: #000000, $alpha: 0.7);
        background-repeat: round;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}

.text {
    &__layout {
        height: 60vh;
        display: flex;
        justify-content: space-around;
        align-items: start;
    }

    &__container__product {
        width: 50%;
        height: 45vh;
        margin-left: 7vh;
        margin-right: 7vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        h2 {
            font-size: 18px;
            font-weight: 400;

        }

        h3 {
            font-size: 15px;
            font-weight: 400;
        }
    }

    &__container__team {
        width: 50%;
        height: 30vh;
        margin-left: 7vh;
        margin-right: 7vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        h2 {
            font-size: 18px;
            font-weight: 400;

        }

        h3 {
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.logo__container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
        width: 20vh;
        height: 20vh;
        transition: all 0.5s;
    }
}







// @import '../../styles/color.scss';

// .chat {
//     &__layout {
//         width: 90%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }

//     &__container {
//         border-radius: 20px;
//         height: 98vh;
//         width: 60vw;
//         box-shadow: 0px 0px 10px black;
//         background-color: rgba(0, 0, 0, 0.380);
//         border: 1px solid $greyBorder;
//         border-radius: 10px;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//     }
// }

// .avatar {
//     position: relative;
//     width: 50px;
//     height: 50px;
//     margin-right: 10px;
//     border-radius: 50%;
//     box-shadow: 0px 2px 0px 2px $green;

//     img {
//         width: 50px;
//         height: 50px;
//         border-radius: 50%;
//         object-fit: cover;
//     }
// }

// .chat__top__container {
//     padding: 10px 15px;
//     border-bottom: 1px solid $greyBorder;
// }

// .avatar__info {
//     h3 {
//         color: #FFF;
//         font-size: 18px;
//         font-weight: 400;
//     }

//     p {
//         color: $green;
//         font-size: 14px;
//         font-weight: 400;
//     }
// }

// .messages__container {
//     height: 100%;
//     padding-left: 10px;
//     padding-right: 15px;
//     overflow-y: scroll;
//     overflow-x: hidden;
// }

// .message__received {
//     padding: 10px 15px 10px 15px;
//     background-color: rgba(125, 124, 124, 0.701);
//     font-size: 15px;
//     margin: 10px;
//     border-radius: 20px;
//     max-width: 70%;
//     width: fit-content;
//     text-align: start;
//     word-wrap: break-word;
// }
// .message__staptime{
//     color: grey;
//     font-size: 10px;
// }
// .user__chat{
//     display: flex;
//     align-items: center;
//     transition: all 0.3s;
//     cursor: pointer;
//     &:hover{
//         transform: scale(0.98);
//     }
// }

// .message__sender {
//     padding: 10px 15px 10px 15px;
//     color: #000;
//     max-width: 70%;
//     width: fit-content;
//     text-align: start;
//     word-wrap: break-word;
//     background: $buttonGreen;
//     font-size: 15px;
//     margin: 10px;
//     border-radius: 20px;
//     text-align: start;
// }

// .height__control {
//     height: 100vh;
// }