@import '../../styles/color.scss';

.layout{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
        padding: 30px 20px 30px 20px;
        border-radius: 10px;
        color: black;
        font-weight: 700;
        font-size: 18px;
        background: $buttonGreen;
        text-align: center;
        margin-bottom: 15px;
    }
    button {
        padding: 20px;
        border: 1px solid $green;
        color: $green;
        border-radius: 10px;
        background: none;
        transition: all 0.3s;
        &:hover{
            transform: scale(1.02);
            border-color: white;
            color: white;
        }
    }
}
