@import '../../../styles/color.scss';

.post__img {
    border: none !important;
    transition: all 0.2s !important;
    margin-bottom: 24px !important;
    padding: 0 !important;

    &:hover {
        border: none !important;
        transform: scale(1.03) !important;
    }

    img {
        width: 100%;
        height: 30vh;
        object-fit: contain;
    }
}

.css-12rl710-MuiPaper-root-MuiDialog-paper {
    padding: 5px;
    width: 100%;
    box-shadow: 0px 0px 60px black !important;
    background-color: rgba(0, 0, 0, 0.850) !important;
    border-radius: 10px !important;
    border: 1px solid $greyBorder;
}

.css-1qmc5dd {
    padding: 5px;
    width: 100%;
    box-shadow: 0px 0px 60px black !important;
    background-color: rgba(0, 0, 0, 0.850) !important;
    border-radius: 10px !important;
    border: 1px solid $greyBorder;
}

.open {
    &__post {
        &__img {
            width: 100% !important;
            height: 50vh;
            object-fit: cover;
        }
    }
}

.profile__container {
    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50px;
    }

    h2 {
        color: white;
        font-size: 20px;
        font-weight: 700;
    }
}

.post__description {
    margin-top: 20px;
    color: white;
    font-weight: 300;
}

.post__like {
    background: none;
    border: none;
    color: white;

    svg {
        width: 35px;
        height: 35px;
    }
}