@import '../../../styles/color.scss';

.add__post {
    &__submit {
        padding: 5px;
        color: $green;
        background: none;
        padding: 5px 15px 5px 15px;
        border-radius: 50px;
        margin-right: 20px;
        border: 1px solid $green;
        box-shadow: none;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 0px 10px $green;
        }
    }
    &__title{
        font-size: 25px;
        color: white;
        text-align: center;
        margin-bottom: 10px;
    }
    &__container{
        border: 1px solid $greyBorder;
        border-radius: 10px;
        padding: 15px;
    }
    &__description{
        color: white !important;
        font-weight: 600;
        padding: 10px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
        textarea{
            border: 1px solid $greyBorder;
            color: white;
            border-radius: 10px;
            background: none;
            margin-top: 10px;
        }
    }
}