@import '../../styles/color.scss';

.home__layout{
    width: 100%;
    border: 1px solid $greyBorder;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    min-height: 95vh;
    box-shadow: 0px 0px 30px black;
    background-color: rgba(0, 0, 0, 0.480);
}

.home__title{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}