@import '../../../styles/color.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.sidebar {
    width: 100%;
    height: 100vh;
    background-color: $lightDark;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.1);
    }

    & img {
        width: 30%;
    }

    & figcaption {
        color: $textWhite;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-shadow: 2px 2px 4px #000000;
        font-size: 150%;
        cursor: default;
    }
}

.nav__icon{
    margin-right: 5px;
}

.nav__bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & a {
        font-size: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 80%;
        color: $textWhite;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 10px 0 0 10px;
        padding: 20px 20px 20px 40px;

        &:hover {
            color: $green;
        }
        &.activeLink{
            background: $buttonGreen;
            box-shadow: 10px 0px 15px rgba(137, 255, 69, 0.4);
            color: black;
            display: flex; 
            align-items: center;
            &:hover{
                color: black;
            }
        }
    }
}
.btn__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.log__out{
    color: red !important;
    border: 1px solid red;
    border-radius: 10px !important;
    padding: 8px !important;
    transition: all 0.3s;
    background: none;
    color: $textWhite;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        margin-right: 5px;
    }
    &:hover{
        transform: scale(0.95);
        background: none;
        border-color: red;
    }
}

