@import '../../styles/color.scss';

.home__layout {
    background-image: url(../../../assets/background.png) !important;
    background-repeat: round;
}
.background__central {
    max-height: 100vh;
    overflow-y: auto;
}

