@import '../../styles/color.scss';

// .home__layout {

// }
.background__central {
    background-image: url(../../../assets/background.png) !important;
    background-repeat: round;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x:hidden;
}

