.react-input-emoji--input{
    padding: 5px 10px 5px !important;
    color: white;
    background: rgba(0, 0, 0, 0.824);
}
.react-input-emoji--placeholder{
    color: rgb(255 255 255 / 43%);
}
.react-input-emoji--container {
    border: none !important;
    width: 100%;
}